* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #bddaff;
  }
  .container {
    height: 450px;
    width: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .shapes {
    height: 250px;
    width: 250px;
    background: linear-gradient(45deg, #07b57b, #9280fa);
    border-radius: 50%;
    position: absolute;
    right: 0;
  }
  .shapes:before {
    content: "";
    position: absolute;
    height: 250px;
    width: 250px;
    top: 197px;
    background: linear-gradient(45deg, #07b510, #fabb80);
    border-radius: 50%;
    right: 347px;
  }
  .card {
    position: absolute;
    height: 300px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.2);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    overflow: hidden;
  }
  .card img {
    position: absolute;
    width: 300px;
    filter: drop-shadow(0 0 20px rgba(26, 0, 68, 0.34));
    bottom: 0;
    left: 120px;
    transition: 0.5s;
  }
  .text-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    width: 250px;
    right: -250px;
    transition: 0.5s;
  }
  .card h2 {
    color: #030805;
    text-transform: uppercase;
  }
  .card p {
    font-weight: 300;
    text-align: justify;
    color: #030805;
    line-height: 1.8;
    letter-spacing: 0.3px;
  }
  .card:hover img {
    width: 250px;
    left: 15px;
    bottom: 20px;
  }
  .card:hover .text-container {
    right: 15px;
  }

  body {
    background-color: aqua;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
  }
  
  .snow {
    width: 500px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
    background-position: 0px 0px;
    animation: animatedBackground 10s linear infinite;
  }
  
  .snow div {
    width: 100%;
    height: 100%;
    background-image: black;
    background-position: 0px 0px;
    animation: animatedBackground 15s linear infinite;
  }
  
  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 0px 500px;
    }
  }

  html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#123, #111);
  }
  
  .snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
  }
  
  @keyframes snowfall {
    0% {
      transform: translate3d(var(--left-ini), 0, 0);
    }
    100% {
      transform: translate3d(var(--left-end), 110vh, 0);
    }
  }
    
  /* added small blur every 6 snowflakes*/
  .snowflake:nth-child(6n) {
    filter: blur(1px);
  }
  
  
  
  /***/
  
  #youtube {
    z-index: 2;
    display: block;
    width: 100px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: red;
    border-radius: 50% / 11%;
    transition: transform 0.5s;
  }
  
  #youtube:hover,
  #youtube:focus {
    transform: scale(1.1);
  }
  
  #youtube::before {
    content: "";
    display: block;
    position: absolute;
    top: 7.5%;
    left: -6%;
    width: 112%;
    height: 85%;
    background: red;
    border-radius: 9% / 50%;
  }
  
  #youtube::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: 40px;
    width: 45px;
    height: 30px;
    border: 15px solid transparent;
    box-sizing: border-box;
    border-left: 30px solid white;
  }
  
  #youtube span {
    font-size: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .social-media {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
  

  
  
